<!DOCTYPE html>
{% load static %}
<html lang="en" class="perfect-scrollbar-on">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'home/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'home/img/favicon.png' %}">

  <title>
    V Dashboard
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!--link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"--->

  <!-- Nucleo Icons -->
  <link href="{% static 'home/css/nucleo-icons.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'home/css/black-dashboard.css' %}" rel="stylesheet" />
  <link href="{% static 'home/css/added_style.css' %}" rel="stylesheet" />
 <link href="{% static 'home/css/keyboard-arrows.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'home/demo/demo.css' %}" rel="stylesheet" />

  <link href="{% static 'home/css/bootstrapslider.css' %}" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
  <!--link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"-->
  <link href="{% static 'home/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.css" rel="stylesheet" />

</head>

<body class="">
  <style>
    tr {
      color: #fefeff !important
    }
  </style>
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <!--div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
              <i class="tim-icons icon-chart-pie-36"></i>
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Dashboard
          </a>
        </div-->
        <ul class="nav">
          <li>
            <a data-toggle="collapse" href="#SenseExamples" class="collapsed" aria-expanded="false">
              <p>
                <i class="fas fa-chart-pie"></i>
                Sense
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="SenseExamples" style="">
              <ul class="nav">
                <li>
                  <a href="/sense/show_data/">
                    <span class="sidebar-mini-icon">DATA</span>
                    <span class="sidebar-normal">
                      <p><i class="tim-icons icon-chart-bar-32"></i>
                        Historical Data</p>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="/sense/real_data/">
                    <span class="sidebar-mini-icon">DATA</span>
                    <span class="sidebar-normal">
                      <p><i class="tim-icons icon-sound-wave"></i></i>
                        RealTime Data</p>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>


          <li>
            <a data-toggle="collapse" href="#ActuateExamples" class="collapsed" aria-expanded="false">
              <p>
                <i class="tim-icons icon-controller"></i>
                Actuate
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="ActuateExamples" style="">
              <ul class="nav">
                <li>
                  <a href="/actuate/actuate_data/">
                    <span class="sidebar-mini-icon">DATA</span>
                    <span class="sidebar-normal">
                      <p><i class="tim-icons icon-cloud-upload-94"></i>
                        Actuate Data</p>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>







        </ul>

        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" style="margin-left: 0px;" href="javascript:void(0)">
              <img style="width:60px;height: 60px; font-family: Arial;" src="{% static 'home/img/Logo-05.png' %}"> Dashboard
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">

              <li class="search-bar input-group" style="display:none">
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="button" id="Simulate_Device" class="btn btn-link">
                    <i id="Simulate_Device_icon" class="fas fa-microchip"></i>
                    <span style="cursor:pointer"><label>Simulate Device</label></span>
                  </button>
                </form>
              </li>

              <li class="search-bar input-group" style="display:none">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i
                    class="tim-icons icon-zoom-split"></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
              <li class="dropdown nav-item" style="display:none">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-sound-wave"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link">
                    <a href="#" class="nav-item dropdown-item">Mike John responded to your email</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a>
                  </li>
                </ul>
              </li>
              <!-- <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="{% static 'home/img/anime3.png' %}" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link">
                    <a href="/home/profile" class="nav-item dropdown-item">Profile</a>
                  </li>
                  <li style="display: none" class="nav-link">
                    <a href="/home/cost_management" class="nav-item dropdown-item">Cost Management</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link">
                    <a href="/home/logout" class="nav-item dropdown-item">Log out</a>
                  </li>
                </ul>
              </li> -->
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
      <footer class="footer" style="display:none">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                VirtuaLAB
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>
            <a href="javascript:void(0)" target="_blank">VirtuaLAB</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'home/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'home/js/core/popper.min.js' %}"></script>
  <script src="{% static 'home/js/core/bootstrap.min.js' %}"></script>
  <!-- script src="{% static 'dashboard/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script> -->
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBZkMMzE4flmC_f65CXbnNkjcruZSB6Rc"></script> -->
  <!-- Chart JS -->
  <script src="{% static 'home/js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'home/js/plugins/chartjs-plugin-zoom.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'home/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'home/js/black-dashboard.min.js' %}"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <!--script src="{% static 'dashboard/demo/demo.js' %}"></script-->

  <script src="{% static 'home/js/plugins/bootstrap-slider.js' %}"></script>


  <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>

  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js"></script>
  
 

  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>

  {% block javascript %}
  {% endblock %}

  <script>

    $('#Simulate_Device').click(function () {
      $.ajax({
        url: '/dashboard/Simualte_Device/',
        data: {},
        dataType: 'json',
        success: function (data) {
          $('#Simulate_Device').css('color', '#fd5d93');
          $('#Simulate_Device_icon').css('color', '#fd5d93');
        },
        failure: function (value) {
          alert('Got an error dude');
        }
      });
    });

    $(document).ready(function () {

      //   Pusher.logToConsole = true;
      //   var pusher = new Pusher('52e55410e66fbb40b127', {
      //     cluster: 'us2',
      //     forceTLS: true
      //   });
      //
      //   
      //
      //   {% if local_page %}
      //     var channel = pusher.subscribe('{{session.local_client_session.user_name}}');//must be dynamic
      //     channel.bind('tota_notify', function(message) 
      //     {
      //       location.href = 'http://virtualabtest.azurewebsites.net/machinelearning/ImgObjDetect/'+message.url;
      //     })
      //   {%else%}
      //     var channel = pusher.subscribe('{{session.client_session.client.username}}');//must be dynamic
      //   channel.bind('tota_notify', function(message) 
      //   {
      //     location.href = 'http://virtualabtest.azurewebsites.net/machinelearning/ImgObjDetect/'+message.url;
      //   })
      //
      //
      //   var channel = pusher.subscribe('{{session.client_session.client.username}}');//must be dynamic
      //   channel.bind('tota_notify_mind', function(message) 
      //   {
      //     location.href = 'http://virtualabtest.azurewebsites.net/machinelearning/ImgObjDetect_mind/'+message.url;
      //   })
      //
      //   {%endif%}


      // Enable pusher logging - don't include this in production
      //  Pusher.logToConsole = true;
      //
      //  var pusher = new Pusher('52e55410e66fbb40b127', {
      //    cluster: 'us2',
      //    forceTLS: true
      //  });
      //
      //  var channel = pusher.subscribe('my-channel');
      //  type = ['primary', 'info', 'success', 'warning', 'danger'];
      //
      //
      //  channel.bind('alert', function(message) {
      //      console.log(JSON.stringify(message))
      //      try{
      //        var obj = message.message;
      //
      //        if (!obj.eventname  )
      //        {return}
      //          var time = obj.time
      //          var temperature = obj.temperature
      //          var humidity = obj.humidity
      //          var eventname = obj.eventname
      //          var color = obj.color_type
      //          color = Math.floor((Math.random() * 4) + 1);
      //
      //          $.notify({
      //            icon: "tim-icons icon-bell-55",
      //            message:  "<b>"+eventname+"</b>  Time: " + time +  " Temp: " + temperature +"  Humidity :" + humidity 
      //          }, {
      //            type: type[color],
      //            timer: 8000,
      //            placement: {
      //              from: 'top',
      //              align: 'right'
      //            }
      //          });
      //      }
      //      catch(err)
      //      {
      //        console.log(err)
      //      }
      //     
      //  })
      //
      //  channel.bind('deviceprop', function(message) {
      //    console.log(JSON.stringify(message))
      //      try{
      //        var obj = message.message;
      //
      //         if (!obj.eventname  )
      //        {return}
      //          var version = obj.version
      //          var properties = JSON.stringify(obj.properties)
      //          var eventname = obj.eventname
      //          var color = obj.color_type
      //
      //          //color = Math.floor((Math.random() * 4) + 1);
      //
      //          $.notify({
      //            icon: "tim-icons icon-bell-55",
      //            message:  "<b>"+eventname+"</b>  "  +  " version: " + version +"  properties :" + properties 
      //          }, {
      //            type: color,
      //            timer: 8000,
      //            placement: {
      //              from: 'top',
      //              align: 'right'
      //            }
      //          });
      //      }
      //      catch(err)
      //      {
      //        console.log(err)
      //      }
      //    
      //  }
      //)
      //
      //channel.bind('simulate', function(message) {
      //    console.log(JSON.stringify(message))
      //      try{
      //        $('#Simulate_Device').css('color', '#fff');
      //        $('#Simulate_Device_icon').css('color', '#fff');
      //      }
      //      catch(err)
      //      {
      //        console.log(err)
      //      }
      //    
      //  }
      //)






      $().ready(function () {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function (event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function () {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function () {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function () {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function () {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function () {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in assets/js/demos.js
      // demo.initDashboardPageCharts();

    });
  </script>
</body>

</html>